# Log dosyaları
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modülleri
node_modules

# MacOS dosyaları
.DS_Store

# Build ve test çıktı klasörleri
dist
dist-ssr
coverage
*.local

# Cypress test çıktı klasörleri
/cypress/videos/
/cypress/screenshots/

# IDE/editor klasörleri ve dosyaları
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info
*.tsbuildinfo

# Firebase config dosyası (gizli)
src/firebase.js
